<mat-vertical-stepper [linear]="true" #stepper [animationDuration]="'200'">

  <mat-step [stepControl]="personalInfoGroup">
    <form [formGroup]="personalInfoGroup">
      <ng-template matStepLabel>Qui suis-je ?</ng-template>
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="Prénom" formControlName="firstNameCtrl" required #firstName>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom" formControlName="lastNameCtrl" required #lastName>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Âge</mat-label>
        <input matInput type="number" max="100" min="0" step="1" placeholder="Age" formControlName="ageCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="contactInfoGroup" state="phone">
    <form [formGroup]="contactInfoGroup">
      <ng-template matStepLabel>Comment me contacter ?</ng-template>
      <mat-form-field>
        <mat-label>Téléphone</mat-label>
        <input matInput placeholder="Numéro de Téléphone" formControlName="phoneNumberCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Adresse" formControlName="adressCtrl">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Adresse</mat-label>
        <input matInput placeholder="Adresse" formControlName="adressCtrl">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Merci !</ng-template>
    Samasifit vous remercie, <code>{{firstName.value}} {{lastName.value}}</code> !
    <br>
    Nous vous recontacterons sous peu.
    <div>
      <button mat-button matStepperPrevious>Retour</button>
      <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
    </div>
  </mat-step>

</mat-vertical-stepper>


<router-outlet></router-outlet>
